body {
    margin: 0%;
    font-family: monospace;
    background-color: #af1f24;
}

/* Desktop Grid */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100vh;
        grid-template-areas: "logo logo logo"
                            "row2buff row2buff row2buff"
                            "mission emp1 vision"
                            "row4buff row4buff row4buff"
                            "researcharea emp2 serviceareas"
                            "row6buff row6buff row6buff"
                            "footer footer footer"
                            ;
        }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100vh;
        grid-template-areas: "logo logo logo"
                            "row2buff row2buff row2buff"
                            "mission emp1 vision"
                            "row4buff row4buff row4buff"
                            "researcharea emp2 serviceareas"
                            "row6buff row6buff row6buff"
                            "footer footer footer"
                            ;
        }
}

/* Tablet */

/* Smartphone Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100vh;
        grid-template-areas: "logo logo"
                            "mission vision"
                            "researcharea serviceareas"
                            "row6buff row6buff"
                            "footer footer"
                            ;
        }

}

/* Smartphone Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100vh;
        grid-template-areas: "logo logo"
                            "mission vision"
                            "researcharea serviceareas"
                            "row6buff row6buff"
                            "footer footer"
                            ;
        }
}

/* Smartphone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100vh;
        grid-template-areas: "logo logo"
                            "mission vision"
                            "researcharea serviceareas"
                            "row6buff row6buff"
                            "footer footer"
                            ;
        }

}


.kbl-logo {
    font-size: 44pt;
    text-align: center;
    grid-area: logo;

}

.mission{
    text-align: center;
    font-size: 22pt;
    grid-area: mission;
}

.vision {
    text-align: center;
    font-size: 22pt;
    grid-area: vision;
}

.research-areas {
    text-align: center;
    font-size: 18pt;
    grid-area: researcharea;
}

.areas-of-research-list {
    font-size: 14pt;
    list-style-type: none;
    text-align: left;
}

.service-areas {
    font-size: 18pt;
    text-align: center;
    grid-area: serviceareas;
}

.service-areas-list {
    font-size: 14pt;
    list-style-type: none;
    text-align: left;
}

.footer-buffer {
    background-color: #28282D;
    grid-area: row6buff;
}
footer {
    align-self: flex-end;
    font-size: 8pt;
    text-align: center;
    grid-area: footer;
}